@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* shared style */
.Bold-text{
    font-weight: 900;
    color: #000000;
    font-size: 4rem;
    margin-bottom: 0px;
   
}
.text-color{
    color: #E95A08;

    
}
.btn-primary{
  background-color:  #E95A08;
    font-weight: 600;
    border: none;
    color: #FFFFFF;
    text-align: center;
    gap: 10px;
    width: 270px;
    height: 50px;
    
}
/* banner section  */
.banner{
    display: flex;
    justify-content: space-between;
    margin:207px 150px 134px;
    
}

.primary-text{
  
  font-family: 'Open Sans', sans-serif;
  font-size: 1.33rem;
  color: rgba(0, 0, 0, 0.493);
  text-align: left;
  /* gap: 20px; */
  margin-right: 75px;
  padding-bottom: 49px;
  
  

}

/* nav section */
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px;
    /* text-decoration: none; */
    
}
nav{
    margin: 50px;
    text-align: center;
    

}
nav>a{
     /* display: flex;
     flex-direction: column; */
     /* justify-content: space-between; */
     padding-left: 10px;
     text-decoration: none;
     color: #8987A1;
}
#Bold{
    font-weight: 900;
    color: black;
}
#col{
    color: #000000;
}
.plants{
    text-align: center;
    
   
}
.plants>p{
    margin: 10px 276px;
    text-align: center;
}
#plants-sec{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
     margin: 0px 150px;

}
.name{
   text-align: center;
   padding-bottom: 10px;
    
}
.seller-section{
    display: flex;
    margin: 150px 150px;
    gap: auto;
    justify-content: space-between;
}
.Lover{
    text-align: center;
}
#love{
    text-align: left;
    margin-left: 200px;

}
#linear{
    width: 540px;
    height: 597px;
}
.gap{
    margin: 20px;
    margin-left: 180px;
    margin-right: 0px;
}
.img-container{
  position: relative;
 
}
.badge {
  position: absolute;
  top: -120px;
  left: 480px; 
  transform: translateX(-50%);
  width: 268px; 
  height: 268px;
  
}
.sec-deal{
    display: flex;
    margin: 20px 150px;
    column-gap: 28px;
    justify-content: center;
    
     
  
     
  
}
#deal-two{
    display: grid;
    grid-template-rows: 1fr;
     
  

}
#deal-1{
    background-image: url(assets/deal-bloom.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    border-radius: 14px;
    width: 365px;
    height: 200px;
    text-align: center;
    align-items: center;
   font-weight: 900;
   color: #FFFFFF;
}
#deal-2{
 
    background-image: url(assets/deal-ana.png);
       background-color: rgba(0, 0, 0, 0.5);
background-blend-mode: darken;
    border-radius: 14px;
    width: 365px;
    height: 200px;
     text-align: center;
     align-items: center;
   font-weight: 900;
   color: #FFFFFF;
  
}
#deal-3{
   
    background-image: url(assets/deal-zabo.png);
     background-color: rgba(0, 0, 0, 0.5);
     background-blend-mode: darken;
    border-radius: 22px;
    width: 753px;
    height: 423px;
     text-align: center;
     align-items: center;
    
   font-weight: 900;
   font-size: 40pxx;
   color: #FFFFFF;
    
    
}
.colorfull-branch{
    background-image: url(assets/news-letter-bg.png);
    max-width: auto;
    height: 450px;
    
}
.deals-anchor{
    
    color: #FFFFFF;
}
.sec-deal h3{
    font-size: 1.5rem;
}
#third{
    margin-top: 150px;
    font-size: 2.3rem;
    text-align: center;
}
.colorfull-branch{
    align-items: center;
    padding-top: 80px;
    background-repeat: none;
}
.colorfull-branch h1{
    text-align: center;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 50px;
   
}
.center{
     
     align-items: center;
     width: 830px;
     height: 50px;
     margin-left: 305px;
     
}
.btn-primary-2{
     background-color:  #E95A08;
    font-weight: 600;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 186px;
    height: 55px;
    
   

}
footer{
    display: flex;
    margin: 50px 160px;
    gap: 80px;
    
}
.flex{
    display: flex;
  
    
}


.icon>img{
    margin-left: 20px;
    
    
    
   
}
.primary-text>li{
    margin-top: 20px;
    list-style-type: none;
}

/* responsive section */
@media screen and(max-width: 576px) {
    nav .hidden{
        display: none;
    }
    
    .banner{
     flex-direction: column;
     justify-content: left;
     align-items: center;

    }
    
}
